<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>thank-you</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">thank-you</ion-title>
    </ion-toolbar>
  </ion-header>-->
    <div class="thank-you-container">
      <h2>Thank You for Your Participation!</h2>
      <p>You can provide the following code to redeem your credit:</p>
      <h3 class="credit-code">{{ name }}</h3>
    </div>
</ion-content>
  