<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>thank-you</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" color="light">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">thank-you</ion-title>
    </ion-toolbar>
  </ion-header>-->
    <div class="thank-you-container">
      <h2>Thank You for Your Participation!</h2>
      <p>You can click here redeem your gift card:</p>
      <a href="{{gift_url}}" class="credit-code" style="text-decoration: none;">Click here</a>
    </div>
</ion-content>
  