<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text class="ion-text-left ion-padding">
        <h3>
          <strong>Protocol title:</strong> 
          Development of multi-dimensional decision making in typically developing and trauma-exposed youth (DIMENSION)
        </h3>
        <h3>
          <strong>Principal Investigator:</strong> 
          Amy Cochran, University of Wisconsin-Madison, Department of Population Health Sciences
        </h3>
        <p>
          We are trying to learn how young people make decisions that involve both risks and rewards, because how they make decisions is often related to their emotional health.
        </p>
        <p> 
          We are asking you to participate in this study because you are between the ages of 11 and 17. We aim to include 30 young people like you in this research.
        </p>
        <p>
          If you agree to participate in this study, you will: 
        </p>
        <ul>
          <li>Answer questions about yourself and your feelings.</li>
          <li>Play a decision-making game involving both rewards and risks.</li>
          <li>Provide feedback on how easy it was to understand and play the game.</li>
        </ul>
        <p> 
          The research will take about 30 minutes. While there may not be direct benefits to you, your participation may help us learn things that could benefit other young people in the future.
        </p>
        <p>
          Your responses will be anonymous. However, we may ask you sensitive questions about your emotions, and like any research, there may be unforeseen risks.
        </p>
        <p>
          Both you and your parent or guardian must consent to your participation. It is also okay for you to decide not to participate, without any consequences. If you choose not to participate, simply close this window.
        </p>
        <p>
          By checking the box and clicking 'Agree', you or your guardian affirm that you have read and understood this consent form and agree to participate in the study.
        </p>
      </ion-text>
      <ion-item>
        <ion-label>I agree to participate TEST: DELETE THIS LATER</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="consentGiven"></ion-checkbox>
      </ion-item>

      <ion-button expand="block" type="submit" (click)="submitConsent()" [disabled]="!consentGiven">Agree</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
