.state {
	object-fit: cover;
}

ion-content{
ion-img{
    display: block;
    margin: 0 auto; // Make the photo center align
    width: auto;    // Adjust the width according to height
    height: 90vh;   // Height = 90% of screen
    overflow: visible;  
  }
  ion-label {
    opacity: 0.75;
  }
}

ion-fab-button {
   width:  84px;
   height: 84px;
}

.custom-alert .alert-wrapper {
  --background: #333333;
  --color: #ffffff;
  --button-background: #444444;
  --button-color: #ffffff;
}

.custom-alert .alert-message {
  text-align: center;
}

// Toggle visiability
.transition-element {
  transition: opacity 0.2s ease-in-out; /* Adjust the duration and timing function as needed */
  opacity: 1; /* Fully visible by default */
}

// Longer transition
.long-transition {
  opacity: 0;
  transition: opacity 2s ease-in; /* Faster fade-out */
}

.long-transition.visible {
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Slower fade-in */
}

.hidden {
  opacity: 0; /* Fully transparent when hidden */
  pointer-events: none; /* Prevents click events on hidden elements */
}

svg {
  width: 90vw; /* 90% of the viewport width */
  height: 90vh; /* 90% of the viewport height */
}