.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  text-align: center;
}

ion-card {
  padding: 1%;
  width: 85%;
}

ion-card-title {
  font-size: x-large;
}

ion-card-content {
  font-size: large;
  text-align: left;
}

ion-col {
  display: flex;
  align-items: center;
}

ion-label {
  display: flex;
  text-align: left;
  font-size: medium;
}

ion-input {
  display: flex;
  text-align: left;
  font-size: medium;
}