.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  text-align: center;
  padding: 10%;
}

ion-card {
  padding: 1%;
  width: 85%;
  max-width: 100%;
}

ion-card-title {
  font-size: x-large;
}

ion-card-content {
  font-size: large;
  text-align: left;
}

ion-col {
  display: flex;
  align-items: center;
}

ion-label {
  display: flex;
  text-align: left;
  font-size: medium;
}

ion-input {
  display: flex;
  text-align: left;
  font-size: medium;
}

em {
  color: firebrick;
}

.input_field {
  background-color: var(--ion-color-light, black);
  --padding-start: 1%; /* Adjust the padding as needed */
}